

body {
 scrollbar-face-background		: url('img/skin/new/button/top_line.gif');
 scrollbar-shadow-color		: #ffffff;
 scrollbar-highlight-color	: #ffffff;
 scrollbar-3dlight-color	: #336699;
 scrollbar-track-color		: #ECF3FF;
 scrollbar-darkshadow-color	: #336699;
 scrollbar-arrow-color		: #ffffff; 
}

.menus { 
  color           	: #336699; 
}


.button { 
  color           	: #336699; 
}

.button:hover { 
  color           	: #0066FF;
} 

.bordermain {
  background-color	: #55afe8;
}

.textdisable {
  border			: 1px solid #A5C7E7;
}

.legend {
  color				: #3333ff;
}

.textchmoddisable {
  border			: 1px solid #A5C7E7;
}

.textenable {
  border			: 1px solid #A5C7E7;
}

.textbox {
  border			: 1px solid #A5C7E7;
}

.textarea {
  border			: 1px solid #A5C7E7;
}

.frmtextarea {
  border			: 1px solid #A5C7E7;
}

.frmtextareadisable {
  border			: 1px solid #A5C7E7;
}

.frmline {
	background-color : #A5C7E7; 
}

.lpanelbuttonrow1 {
  color				: #336699;
}

.lpanelbuttonrow2 {
  color				: #0066ff;
}

.buttonunselect {
  color				: #ffffff;
  font-weight		: bold;
  font-size			: 12px;
  font-family       : arial;
}

.buttonselect {
  color				: #336699;
  font-weight		: bold;
  font-size			: 12px;
  font-family       : arial;
  background-color 	: #f5f5f5;
  cursor			: pointer;
}

.helparea {
  border-color		: #3399CC;
}

.lpanelbutton {
  color				: #0066ff;
}

.formtablerow0 {
  background-color   : #f5f5f5;
}

.formtablerow1 {
  background-color   : #f5f5f5;
}

.formtablerow2 {
  background-color   : #ffd5d5;
}

.submitbutton {
 border:1px solid #666666; 
}

.tableheadtext {
  color				: #000000;
}


.sortby {
  background-color  : #a5cbfa;
}

.tablerowhead {
  background-color  : #e6efff;
}

.detailtablehead {
  color				: #003366;
  background-color  : #7db3ee;
}

.detailleft {
  color				: #003366;
  background-color  : #a5e7c7;
}


.tablerow0 {
  background-color   : #f9f9f9;
  border-bottom: 10px solid #000 ;
}

.tablerow1 {
  background-color   : #f7f3f7;
  border-bottom: 10px solid #000 ;
}

.tablerow2 {
  background-color   : #f2f2f2;
}

.tablerowhilite {
  background-color   : #ff0000;
}

.hiliterow {
  background-color	: #dddddd;
}

.tablerowdetail0 {
  background-color  : #f9f9f9;
}

.tablerowdetail1 {
  background-color  : #f2f2f2;
}

.hiliterowdetail {
  color				: #336699;
  background-color	: #dddddd;
}

.filebox {
  font-family		: arial; 
  color				: #000000;
  font-size			: 9px; 
  font-weight		: normal; 
  background-color	: #FFFFFF;

}

.colHighLight {
  color				: #ff6666;
}

.copyright {
  color				: #336699;
}
