0charset "utf-8";
/* CSS Document */
.bdy1{background-image:url(/img/skin/kloxo/feather/default/images/graybg.jpg);background-repeat:repeat-x;}

#tab1 {width:100%;text-align:center;margin-left:auto;margin-right:auto;background-color:#FFFFFF;}

#tabsub {width:775px;text-align:center;margin-left:auto;margin-right:auto;background-color:#FFFFFF;}
.top{height:24px; text-align:center;background-image:url(/img/skin/kloxo/feather/default/images/topbg21.jpg);background-repeat:repeat-x;background-position:bottom}
.top2{height:28px; text-align:center;background-image:url(/img/skin/kloxo/feather/default/images/header_panel_bg.gif);background-repeat:repeat-x;}
.bgtop{background-repeat:no-repeat;height:130px;background-position:right;background-color:#eec11d;}
.bgtop1{background-image:url(/img/skin/kloxo/feather/default/images/bguniverse.jpg);background-repeat:repeat-x;height:130px;}
.bgtop2{background-image:url(/img/skin/kloxo/feather/default/images/bgbutter.jpg);background-repeat:repeat-x;height:130px;}
.bgtop3{background-repeat:repeat-x;height:92px;background-color:#87cafe}
.idbtm1{height:20px;}
.menu{text-decoration:none;color:#333333;font-size:10px}
.menu1{text-decoration:none;color:#333333;font-size:9px;font-weight:bold}
.box{height:25px;background-color:#CCCCCC};
.box1{height:22px;width:120px;background-image:url(/img/skin/kloxo/feather/default/images/11.jpg);background-repeat:repeat-x;text-align:center;}
.box2{height:22px;width:120px;background-image:url(/img/skin/kloxo/feather/default/images/12.jpg);background-repeat:repeat-x;text-align:center;color:#000000;};
.boxhom{height:22px;width:55px;background-image:url(/img/skin/kloxo/feather/default/images/11.jpg);background-repeat:repeat-x;text-align:center}
.boxhom1{height:22px;width:55px;background-image:url(/img/skin/kloxo/feather/default/images/13.jpg);background-repeat:repeat-x;text-align:center;color:#000000;border-bottom:2px #ffffff solid}
.boxdom{height:22px;width:70px;background-image:url(/img/skin/kloxo/feather/default/images/11.jpg);background-repeat:repeat-x;text-align:center;}
.boxdom1{height:22px;width:70px;background-image:url(/img/skin/kloxo/feather/default/images/12.jpg);background-repeat:repeat-x;text-align:center;color:#000000;}
.boxsdom{height:22px;width:85px;background-image:url(/img/skin/kloxo/feather/default/images/11.jpg);background-repeat:repeat-x;text-align:center;}
.boxsdom1{height:22px;width:85px;background-image:url(/img/skin/kloxo/feather/default/images/12.jpg);background-repeat:repeat-x;text-align:center;color:#000000;}

.ver{vertical-align:bottom;}
.verb{margin-bottom:3px;}
.verb2{margin-bottom:3px;text-align:left}
.verb3{margin-bottom:1px;}
.new{height:28px;width:75px;background-image:url(/img/skin/kloxo/feather/default/images/60.jpg);background-repeat:repeat-x;text-align:center;border-bottom:4px #ffffff solid;vertical-align:bottom;background-position:0px 0px}
.new1{height:22px;width:85px;background-image:url(/img/skin/kloxo/feather/default/images/70.jpg);background-repeat:repeat-x;text-align:center;background-position:0px 5px;vertical-align:bottom;border-bottom:2px #b6def8 solid}
.new2{height:22px;width:60px;background-image:url(/img/skin/kloxo/feather/default/images/70.jpg);background-repeat:repeat-x;text-align:center;background-position:0px 5px;vertical-align:bottom;border-bottom:2px #b6def8 solid}


.menuover a:hover{color:#FFFFFF;}
.menuover1 a:hover{color:#0c6ffe;}
.di{margin-left:15px;margin-right:15px;}
.divcom{margin-left:40px;}
.div1{width:450px;height:16px;border:1px #d0d0d0 solid;margin-top:20px;text-align:right;vertical-align:middle;background-color:#000000;color:#FFFFFF}
.div3{background-image:url(/img/skin/kloxo/feather/default/images/2.jpg);background-repeat:repeat-x;width:450px;height:16px;border:1px #d0d0d0 solid;margin-top:20px;text-align:right;vertical-align:middle;}
.div4{background-image:url(/img/skin/kloxo/feather/default/images/1.gif);background-repeat:repeat-x;width:450px;height:15px;border:1px #d0d0d0 solid;margin-top:20px;text-align:right;vertical-align:middle;color:#000000}
.div2{width:450px;height:110px;border:1px #d0d0d0 solid;border-top-width:0px;background-color:#FFFFFF}
.div10{width:450px;height:190px;border:1px #d0d0d0 solid;border-top-width:0px;background-color:#FFFFFF}
.imb{border:0px;margin:0px 0px 0px 0px}
.bg2{background-image:url(/img/skin/kloxo/feather/default/images/bg22.jpg);background-repeat:repeat-x;height:13px;}
.bgsid{background-image:url(/img/skin/kloxo/feather/default/images/bg10.jpg);height:20px;background-repeat:repeat-y;vertical-align:middle;font-weight:bold;color:#FFFFFF}
.bgsidm{background-color:#eeeeef;height:30px;margin:3px 25px 1px 1px;} 
.td10{height:20px;background-color:#e3e3e4;vertical-align:middle;font-size:11px}
.td11{height:20px;background-color:#f1f1f1;vertical-align:middle;font-size:11px;}
.td9{background-image:url(/img/skin/kloxo/feather/default/images/2.gif);background-repeat:repeat-x;height:22px;font-weight:bold;}
.ovr{background-color:#b8b8b8;height:20px;font-size:11px}
.a1{text-decoration:none;font-size:10px;color:#006699}
.c1{text-decoration:none;font-size:11px;color:#000000}
.c2 a:hover{color:#469de0}
.menubtm{border-bottom:2px #dbdbe5 solid}

#menubg{width:779px;height:26px;background: url(/img/skin/kloxo/feather/default/images/menubg.jpg) repeat-x}
#menubg1{width:779px;height:3px;background: url(/img/skin/kloxo/feather/default/images/menubg1.jpg) repeat-x} 
