
#additional packages that may be useful
[lxlabsupdate]
name=%distro%-$releasever - lxlabsupdates
baseurl=http://download.lxlabs.com/download/update/%distro%/$basearch/
gpgcheck=0
enabled=1

#packages used/produced in the build but not released
[lxlabslxupdate]
name=%distro%-$releasever - lxlabslxupdates
baseurl=http://download.lxlabs.com/download/update/lxgeneral
gpgcheck=0
enabled=1

